boto==2.49.0
boto3==1.11.0
botocore==1.14.0
certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
feedparser==5.2.1
gensim==3.8.1
idna==2.8
jmespath==0.9.4
numpy==1.18.1
python-dateutil==2.8.1
requests==2.22.0
s3transfer==0.3.0
scipy==1.4.1
six==1.13.0
smart-open==1.9.0
ufal.morphodita==1.9.2.3
urllib3==1.25.7
